body {
    background-color: black;
    font-family: Impact;
}
canvas {
    background-color: black;
    border: 1px solid white;
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
#header {
    font-size: 1.2em;
    padding: 10px;
}
#main {
    color: white;
}
#footer {
    bottom: 0px;
    color: white;
    font-size: 0.7em;
    height: 50px;
    left: 0px;
    margin-bottom: 0px;
    position: fixed;
    right: 0px;
    text-align: center;
}
#home_screen {
    margin-top:150px;
    padding: 0;
    text-align: center;
}
.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto
}
a:link {
    animation: blinker 2s linear infinite;
    color: lightgreen;
    text-decoration:none;
}
a:hover {
    color: hotpink;
    text-decoration:none;
}
@keyframes blinker {
  50% { opacity: 0; }
