<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" type="image/png"
          href="{{ url_for('static', filename='images/space_3.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Space Invaders!</title>
</head>
<body>
    <div id="home_screen">
        <img class="center_image"
             src="{{ url_for('static', filename='images/space_2.jpg') }}"
             alt="Hmm.. shouldn't there be an alien here??" height="250px" width="250px">
        {% block content %}{% endblock %}
    </div>
    <div id="footer"><h3>A RogDog Production</h3>
</body>
</html>
