<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" type="image/png"
          href="{{ url_for('static', filename='images/space_3.ico') }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Space Invaders!</title>
    <script src="{{url_for('static', filename='js/helpers.js')}}"></script>
</head>
<body>
    <div id="main">{% block content %}{% endblock %}</div>
</body>
</html>
