<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cv.css') }}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Roy's CV</title>
</head>
<style>
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}
.make_bold {
    font-weight: bold;
    padding-bottom: 10px;
}
.margin_bottom {
    margin-bottom: 10px;
}
.large_margin_bottom {
    margin-bottom: 20px;
}
.experience_note {
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}
.gray_break {
    background-color: #efefef;
    height: 15px;
    margin: 10px 0 10px 0;
}
#header {
    background-color: #efefef;
    height: 100px;
    padding: 5px;
}
#address {
    float: right;
}
#name {
    margin-top: 5px;
}
#tag_line {
    font-weight: bold;
    margin: 10px 0 10px 0;
    text-align: center;
}
</style>
<body>
    <div id="header">
        <div id="address">
            <p class="make_bold">
Flat 11, Bryce House,<br />
John Williams Close,<br />
London, SE14 5XG<br />
royhanley8@gmail.com<br />
            </p>
        </div>
        <div id="name">
            <h1>Roy Hanley</h1>
            <h4 class="make_bold">Computer Programmer Resume</h4>
            <a href="https://royhanley.com">royhanley.com</a>
            <a href="https://github.com/royroy21">github.com/royroy21</a>
        </div>
    </div>
    <p id="tag_line">React/Django programmer experienced in developing data driven applications</p>
    <div>
        <h2 class="margin_bottom">Technology Summary</h2>
        <p class="make_bold">
            Python, Django, JavaScript, React, React Native, Redux, Zustand, HTML, CSS,
            Linux, BASH, PostgreSQL, Docker, Ansible, Terraform, Nginx,
            GIT, REST, GraphQL, Vagrant, Celery, RabbitMQ, AWS, Heroku, CircleCI,
            TTD, Agile.
        </p>
    </div>
    <div class="gray_break"></div>
    <div>
        <h2 class="margin_bottom">Professional Experience</h2>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Sabbatical (02/2022-present)</h4>
            <p>After lockdown I decided to take break from professional employment to recharge my batteries.
                During this time I travelled the UK and Europe camping and fishing. I also hired an office space
                in London to work on a number of personal projects using technologies such as Python/Django,
                Django channels, React Native, Zustand, NodeJS and Phaser 3.
            </p>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Django Developer (08/2020-02/2022) Octopus Energy (<a href="https://electroverse.octopus.energy/">electroverse.octopus.energy</a>)</h4>
            <p>A greenfield project. Leading role in creating and maintaining the backend
                infrastructure for an app to help users charge their electric vehicles.
                Integrated systems into Octopus Energy's existing infrastructure as well as
                3rd charge point operators. Work with IOS/Android and web teams to create APIs.
                Helped hire and mentor a backend team.
            </p>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Web Developer (03/2020-08/2020) Fix The News (<a href="https://staging.fixthenews.com/">fixthenews.com</a>)</h4>
            <p>Helped create and maintain a news comparison website
                using Python/Django and React/Redux. Infrastructure implemented
                as code using AWS/Terraform and Ansible.
            </p>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Python Developer (04/2018-01/2020) Autotrip (<a href="https://autotrip.com/">autotrip.com</a>)</h4>
            <p>Autotrip is a company that uses technology to track vehicles
                using GPS for the purpose of fleet management. Helped rewrite
                the existing Bottle backend in Django. Assisted in writing the
                new React web app eventually taking ownership. Created and tested
                new REST API endpoints for the new React Native mobile app. Helped
                to implement infrastructure as code
            </p>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Web Developer (08/2017-01/2018) BCMFort (<a href="https://bcmfort.com/">bcmfort.com</a>)</h4>
            <p>Leading role in developing frontend/backend features for BCMFort's
                business continuity application. Technologies used were Python/Django
                and Angular. Refactoring of existing code base. Implement new testing strategy.
            </p>
        </div>
        <div class="large_margin_bottom">
            <h4>Python Developer (04/2015-04/2017) Ostmodern (<a href="https://www.ostmodern.co.uk/">ostmodern.co.uk</a>)</h4>
            <p>Leading role developing backend infrastructure and codebase for BBCW's video
                on demand application. Launched in Singapore and Malaysia Participated in the
                on going design, development and testing of Skylark, the backend library many
                of Ostmodern's applications relied upon. Designed and developed new features
                for existing apps such as BallBall.com, BFI Player and Olympic Player. Supported
                and upgraded existing products. Mentored Junior developers
            </p>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Software and Database Developer (06/2012-03/2015) Thomas's London Day Schools (<a href="https://www.thomas-s.co.uk/">thomas-s.co.uk</a>)</h4>
            <p>Participated in the design, development and testing of the new bespoke MIS
                (mass information system). Transfer data from the old MIS to the new. Re-factoring
                of systems to run more efficiently. Developed multiple smaller programs that helped
                improve the productivity and efficiency of the schools, these include tools for data
                analysis and reporting. Participated in the design, testing and development of APIs to
                link various outside systems. Developed new procedures for requirements gathering,
                needs analysis, testing, scripting and documentation to strengthen quality and
                functionality of new and existing systems
            </p>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Python Programmer (10/2011-06/2012). Creative Virtual (<a href="https://www.creativevirtual.com/">creativevirtual.com</a>)</h4>
            <p>Assisted in the development of Virtual Assistants for a large number of clients such
                as 02, RSPCA, Virgin Media and Renault. Worked closely with clients to help ensure
                their on-line bots offered the best experience to the end user. Added extra functionality
                to on-line bots through various backend and frontend technologies. Created various tools
                for use in data analysis, data transfer and testing.
            </p>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Network Administrator/Desktop Support (11/2010–10/2011) Steel Business Briefing (<a href="https://www.steelbb.com/">steelbb.com</a>)</h4>
            <p>Desktop support for 280 staff worldwide. Improve and ensure network functionality.
                General network maintenance including server maintenance, patching, moving of devices
                and installation of network printers. Developed and implemented a backup strategy for
                workstations and servers. Installed and configured Cisco routers and hotspots. Configured
                VPN access.
            </p>
        </div>
        <div>
            <p class="experience_note">Note: My work experience before this date include many contacted roles while I worked in engineering/management positions in construction. If needed a detailed breakdown of this work can be supplied</p>
        </div>
    </div>
    <br /><br />
    <div>
        <h2 class="margin_bottom">Education</h2>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Birkbeck University: Web Technologies FD (2012-2015)</h4>
            <p>Fundamentals of Information Technology</p>
            <p>Introduction to Computer Systems</p>
            <p>Introduction to Web Authoring</p>
            <p>Introduction to Database Technology</p>
            <p>Problem-Solving for Programming</p>
            <p>Information Systems Concepts</p>
            <p>Introduction to Programming</p>
            <p>Mathematics for Computing</p>
            <p>Working in Teams</p>
            <p>Work-related Project</p>
            <p>Information Systems Management</p>
            <p>Software and Programming I</p>
            <p>Web Data with XML, JSON and AJAX</p>
            <p>Web Programming using PHP</p>
            <p>Building Web Applications using MySQL and PHP</p>
            <p>JavaScript</p>
            <p>Advanced Web Authoring</p>
            <p>Data Structures and Algorithms</p>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Microsoft Certified Systems Administrator (2010)</h4>
            <p>Installing, configuring and administering Microsoft Windows XP Professional (20-270)</p>
            <p>Managing and maintaining a Microsoft Windows Server 2003 Environment (20-290)</p>
            <p>Implementing, Managing and Maintaining a Microsoft Windows Server 2003 Network Infrastructure (20-291)</p>
            <p>Implementing and Managing Microsoft Exchange Server 2003 (20-284)</p>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">Greenwich Community College (1998-2001)</h4>
            <p>National diploma in Engineering (Level 3)</p>
            <p>GNVQ in Engineering (Level 2)</p>
        </div>
        <div class="large_margin_bottom">
            <h4 class="margin_bottom">St Mary and St Joseph’s RC Secondary School (1990-1996)</h4>
            <p>9 GCSEs</p>
        </div>
    </div>
    <div class="gray_break"></div>
    <div>
        <h2 class="margin_bottom">About Me</h2>
        <p>
Always seeking clean simple solutions over the complex and have a need to do things
the right way. Outside of work I enjoy socialising, camping, walking, fishing, going to gigs,
playing music (I play guitar and bass) with friends and tinkering around with computers, either
programming, playing games or checking out the latest Linux distro. Goals for this year include
diving deeper into Phaser3, a Javascript framework used to create games - so I can finally make
that turn based RPG I have in mind :)
        </p>
    </div>
    <div class="gray_break"></div>
    <div>
        <h2 class="margin_bottom">References upon Request</h2>
    </div>
</body>
</html>
